.result {
  width: 50vw;
  padding-top: 25px;
  font-size: large;
  color: white;
  user-select: none;
}

.result thead {
  height: 45px;
}

.result tbody tr {
  display: flex;
  height: 40px;
  width: 100%;
}

.result td {
  width: 50%;
}
