.result {
  width: 50vw;
  padding-top: 25px;
  font-size: large;
  color: white;
  user-select: none;
}

.result thead {
  height: 45px;
}

.result tr {
  height: 40px;
}

.result b {
  text-shadow: whitesmoke 0px 0px 4px;
}

.result td {
  width: 50%;
  max-width: 50%;
  overflow-wrap: break-word;
}
