.App {
  display: flex;
  flex-direction: column;
  text-align: left;
  min-height: calc(100vh - 100px);
  align-items: center;
  justify-content: center;
  background-color: #2e3440;
  padding-top: 50px;
  padding-bottom: 50px;
}

form {
  display: flex;
}

#search {
  height: 3rem;
  width: 50vw;
  padding-left: 2rem;
  border: grey solid 1px;
  border-radius: 2rem;
  background: #e5e9f0;
  font-size: large;
  outline: none;
}

#search:hover {
  box-shadow: whitesmoke 0px 0px 4px;
  background: white;
}

#search:focus {
  box-shadow: whitesmoke 0px 0px 12px;
  background: white;
}

.result {
  width: 50vw;
  padding-top: 25px;
  font-size: large;
  color: white;
  user-select: none;
}

.result thead {
  height: 45px;
}

.result tr {
  height: 40px;
}

b {
  text-shadow: whitesmoke 0px 0px 4px;
}

td {
  cursor: pointer;
}

.visible {
  text-decoration: underline;
}
