.App {
  display: flex;
  flex-direction: column;
  text-align: left;
  min-height: calc(100vh - 100px);
  align-items: center;
  background-color: #2e3440;
  padding-top: 50px;
  padding-bottom: 50px;
}
